@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    
}

<h1>@ViewBag.Title</h1>

<table class="table">

    @foreach (var user in ViewBag.Users)
    {
    <tr>
        <td>@user.Id</td>
        <td>@user.Name</td>
        <td>@user.Email</td>
        <td>@(user.Active ? "Active" : "Inactive")</td>
    </tr>
    }

</table>
