@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using UserDaoLibrary; 
@model User;
@{
}

<h1>@ViewBag.Title</h1>

<form action="@ViewBag.Action" method="post">
    <div class="form-group">
        <!--<label>Id</label>-->
        <input class="form-control"
               type="hidden" 
               name="Id" 
               value="@ViewBag.User.Id" READONLY/>
    </div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input class="form-control"
               type="text"
               name="Name"
               value="@ViewBag.User.Name" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control"
               type="text" 
               name="Email" 
               value="@ViewBag.User.Email" />
    </div>
    <div class="checkbox">

        @Html.CheckBoxFor(user => user.Active)
    </div>
    <input type="submit" value="Save" class="btn btn-success"/>
    <a href="/User/Index" class="btn btn-secondary">Cancel</a>
</form>
